body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p.blockquote, th, td,button{
	margin:0;
	padding:0;
	font: 12px/16px tahoma,"Microsoft YaHei",sans-serif;
	color: #333;
}
@font-face {
 font-family: 'icomoon';
 src: url('../fonts/icomoon.eot');
 src: url('../fonts/icomoon.eot') format('embedded-opentype'),  url('../fonts/icomoon.woff') format('woff'),  url('../fonts/icomoon.ttf') format('truetype'),  url('../fonts/icomoon.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

*:focus{ outline: 0px; }
input[type="checkbox"].switch, input[type="radio"].switch { display:none; }
input[type="checkbox"].switch + label, input[type="radio"].switch + label { display:inline-block; position:relative; width:50px; height:30px; vertical-align:middle; background-color:white; border:1px solid #dfdfdf; border-radius:20.0px; cursor:pointer; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-transition:border 0.4s, box-shadow 0.4s; -moz-transition:border 0.4s, box-shadow 0.4s; transition:border 0.4s, box-shadow 0.4s; }
input[type="checkbox"].switch + label:after, input[type="radio"].switch + label:after { content:""; width:28px; height:28px; background:white; border-radius:100%; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4); position:absolute; top:0; left:0; -webkit-transition:left 0.2s ease-in-out; -moz-transition:left 0.2s ease-in-out; transition:left 0.2s ease-in-out; }
input[type="checkbox"].switch:checked + label, input[type="radio"].switch:checked + label { background-color:#2ecc71; border-color:#2ecc71; box-shadow:inset 0px 0px 0px 15.999px #2ecc71; -webkit-transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; -moz-transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; }
input[type="checkbox"].switch:checked + label:after, input[type="radio"].switch:checked + label:after { left:20px; }
input[type="checkbox"].switch:checked.switch-warning + label, input[type="radio"].switch:checked.switch-warning + label { background-color:#e67e22; border-color:#e67e22; box-shadow:inset 0px 0px 0px 16px #e67e22; }
input[type="checkbox"].switch:checked.switch-danger + label, input[type="radio"].switch:checked.switch-danger + label { background-color:#e74c3c; border-color:#e74c3c; box-shadow:inset 0px 0px 0px 16px #e74c3c; }
input[type="checkbox"].switch:checked.switch-info + label, input[type="radio"].switch:checked.switch-info + label { background-color:#3498db; border-color:#3498db; box-shadow:inset 0px 0px 0px 16px #3498db; }
input[type="checkbox"].switch:disabled + label, input[type="checkbox"].switch:disabled:checked + label, input[type="radio"].switch:disabled + label, input[type="radio"].switch:disabled:checked + label { background-color:#ecf0f1; border-color:#ecf0f1; cursor:default; box-shadow:none; } 
input[type="checkbox"].slick-fast-query, input[type="radio"].slick-fast-query { display:none; }
input[type="checkbox"].slick-fast-query + label, input[type="radio"].slick-fast-query + label { display:inline-block; position:relative; width:70px; height:21px; margin-left:10px; vertical-align:middle; background-color:#fff; cursor:pointer; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-transition:border 0.4s, box-shadow 0.4s; -moz-transition:border 0.4s, box-shadow 0.4s; transition:border 0.4s, box-shadow 0.4s; }
input[type="checkbox"].slick-fast-query + label:after, input[type="radio"].slick-fast-query + label:after { content:""; width:90px; height:28px; background:url(../img/icon.png) no-repeat -326px -1545px; position:absolute; top:0; left:0; -webkit-transition:left 0.2s ease-in-out; -moz-transition:left 0.2s ease-in-out; transition:left 0.2s ease-in-out; }
input[type="checkbox"].slick-fast-query:checked + label, input[type="radio"].slick-fast-query:checked + label { background-color:#fff; -webkit-transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; -moz-transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; transition:background-color 1.2s, border 0.4s, box-shadow 0.4s; }
input[type="checkbox"].slick-fast-query:checked + label:after, input[type="radio"].slick-fast-query:checked + label:after { background:url(../img/icon.png) no-repeat -430px -1544px; }
input[type="checkbox"].switch:checked.switch-warning + label, input[type="radio"].switch:checked.switch-warning + label { background-color:#e67e22; border-color:#e67e22; box-shadow:inset 0px 0px 0px 16px #e67e22; }
input[type="checkbox"].switch:checked.switch-danger + label, input[type="radio"].switch:checked.switch-danger + label { background-color:#e74c3c; border-color:#e74c3c; box-shadow:inset 0px 0px 0px 16px #e74c3c; }
input[type="checkbox"].switch:checked.switch-info + label, input[type="radio"].switch:checked.switch-info + label { background-color:#3498db; border-color:#3498db; box-shadow:inset 0px 0px 0px 16px #3498db; }
input[type="checkbox"].slick-fast-query:disabled + label, input[type="checkbox"].slick-fast-query:disabled:checked + label, input[type="radio"].slick-fast-query:disabled + label, input[type="radio"].slick-fast-query:disabled:checked + label { background-color:#ecf0f1; border-color:#ecf0f1; cursor:default; box-shadow:none; }


/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
.slick-cell input[type="text"]{border:1px solid #ccc;line-height:20px;padding: 0;margin: 0;padding-left: 5px;  padding-right: 5px;}
.slick-cell input[type="text"]:focus,textarea:focus{outline:none;}
::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { background:none; }
::-webkit-scrollbar-thumb { background:#e5e5e5; url(img/scrollbarBG.png) no-repeat center center; border:1px solid white; }
::-webkit-scrollbar-thumb:hover{background:#333;}

.slick-header { box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); z-index: 100; }
.ui-widget{border:1px solid #ddd;}
.slick-cell input[type="text"]{width: 100%;height: 35px;border:none;}
.slick-header.ui-state-default, .slick-headerrow.ui-state-default { width: 100%; overflow: hidden; border-left: 0px; font-weight: 300; }
.slick-row.odd{background: #F5F5F5;}
.slick-row:hover{transition: all .2s linear; background: #E7F0F7;}
.slick-cell.selected{transition: all .2s linear; background: #CDE1F1;box-shadow: 0 -1px 0 white;}

.slick-header-columns, .slick-headerrow-columns { position: relative; white-space: nowrap; cursor: default; overflow: hidden; }
.slick-headerrow-columns { background: #eaeaea; }

.slick-headerrow-columns input { height: 35px; width: 100%; padding: 0; margin: 0; border: 0; background: rgba(50, 197, 180, 0); text-indent: 5px; outline: none; transition: all 0.3s linear; color: #777; }

.slick-headerrow-columns input:focus { background: rgba(50, 197, 180, 0.3); }

.slick-header-column.ui-state-default { position: relative; display: inline-block; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; height: 33px; line-height: 33px; margin: 0; border-left: 0px; border-top: 0px; border-bottom: 0px; float: left; cursor:pointer; border-bottom: 4px solid #ECECEC; text-indent:5px; border: 0px; }

.slick-header-column .slick-headerrow-column.ui-state-default { padding: 4px; }

.slick-header-column-sorted { font-style: italic; }

.slick-sort-indicator { border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; position: absolute; top: 50%; margin-top: -3px; margin-left: 10px; } 
.slick-sort-indicator-asc { border-color:transparent transparent  #555 transparent; margin-top:-7px; } 
.slick-resizable-handle { position: absolute; font-size: 0.1px; display: block; cursor: col-resize; width: 3px; right: 0px; top: 0; height: 100%; }
.slick-header-column:hover .slick-resizable-handle{border-left: 1px solid #cfcfcf;border-right: 1px solid #CFCFCF;background: #F7F7F7;}
.slick-sortable-placeholder { background: silver; }

.grid-canvas { position: relative; outline: 0; }

.slick-row.ui-widget-content, .slick-row.ui-state-active { position: absolute; border: 0px; width: 100%; }
.slick-cell.active{background:rgba(0,0,0,.1);}
.slick-cell, .slick-headerrow-column { position: absolute; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; vertical-align: middle; z-index: 1; margin: 0; white-space: nowrap; cursor: default; line-height: 35px; text-indent: 5px; }

.slick-cell.editable { text-indent: 0px; }

.slick-group-toggle { display: inline-block; }
.slick-cell.highlighted { background: lightskyblue; background: rgba(0, 0, 255, 0.2); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.slick-cell.flashing { border: 1px solid red !important; }
.slick-cell.editable input:focus, .slick-cell.editable select:focus{ outline: none; border: 1px solid rgba(39, 91, 255, 0.48); box-shadow: 0 0 5px rgba(27, 91, 255, 0.5); -webkit-transition:all .2s linear; z-index: 2; background:white; padding-left: 5px; padding-right: 5px; }
.slick-cell.editable input.dialog { padding-right: 27px; } 
.slick-cell:focus { outline: none; }
.slick-reorder-proxy { display: inline-block; background: blue; opacity: 0.15; filter: alpha(opacity = 15); cursor: move; }
.slick-reorder-guide { display: inline-block; height: 2px; background: blue; opacity: 0.7; filter: alpha(opacity = 70); }
.slick-selection { z-index: 10; position: absolute; border: 2px dashed black; }

input[type=checkbox] { display: none; }

input[type=checkbox]:checked + .toggle:after{ opacity: 1; }

.toggle { display: block; height: 35px; width: 35px; position: absolute; top: 0px; bottom: 0px; left: 0px; text-indent: 100%; overflow: hidden; cursor: pointer; }
.toggle:after { content: ''; position: absolute; position: absolute; width: 8px; height: 4px; background: transparent; top: 12px; left: 11px; border: 3px solid #363636; border-top: none; border-right: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); opacity: 0; }
.toggle:before { content: ''; width: 13px; height: 13px; background: #faf9f9; border: 1px solid #6bb3ca; position: absolute; top: 9px; left: 9px; -moz-box-shadow: 0 1px 1px #dfecf4; }
.toggle:before, .toggle:active:before { border-color: #ccc; -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05); }
.pager{font-size:11px;margin: 5px 0;/* display: none; */}
.pager-info,.pager-nav,.pager-count{display:inline-block;vertical-align: middle;}
.pager-info{width:100px;}
.pager-nav .pager-prev,.pager-nav .pager-next{padding: 0 10px;cursor:pointer;vertical-align: top;height: 24px;background: #E0E0E0;border: none;margin: 0;text-indent: -999px;}
.pager-nav .pager-next{margin-left:-3px;margin-right:5px;}
.pager-nav .pager-prev:after,.pager-nav .pager-next:after{border-width: 2px;border-style:solid;border-color:#333;width: 7px;display: block;height: 7px;content:'';-webkit-transform: rotate(-45deg);border-bottom: none;border-right: none;}
.pager-nav .pager-next:after{border:none;border-right:2px solid #333;border-bottom:2px solid #333;}
.pager-info .pager-current{width: 30px;padding:0;color: #06F;margin:0;height: 24px;background: none;text-align: center;border: 1px solid #ccc;border-radius: 50px 0 0 50px;border-right: none;-webkit-transition:all .2s linear;}
.pager-nav .pager-prev:hover,.pager-nav .pager-next:hover,.pager-count button[name="record-count"]:hover{background:#333;color: #fff;}
.pager-nav .pager-prev:hover:after,.pager-nav .pager-next:hover:after{border-color:white;}
.pager-nav .pager-prev[disabled],.pager-nav .pager-next[disabled]{background:#eee;color:#bbb;cursor: default;}
.pager-nav .pager-prev[disabled]:after,.pager-nav .pager-next[disabled]:after{border-color:#bbb;}
.pager-size{float: right;}
.pager-info .pager-total{border:none;background:none;margin: 0;padding: 0;color: #Aaa;border: 1px solid #ccc;height: 24px;border-left: none;border-radius: 0 50px 50px 0;padding-right: 8px;position: relative;padding-left: 5px;}
.pager-info .pager-total:before{content:'/';background: white;width: 8px;position: absolute;left: -5px;}
.pager-info .pager-current:focus{border-radius:0;border-color: rgba(39, 91, 255, 0.6);box-shadow: 0 1px 5px rgba(27, 91, 255, 0.3),-1px 0 5px rgba(27, 91, 255, 0.3),0 -1px 5px rgba(27, 91, 255, 0.3);width:60px;}
.pager-info .pager-current:focus + .pager-total{border-radius:0;border-color: rgba(39, 91, 255, 0.6);box-shadow: 0 1px 5px rgba(27, 91, 255, 0.3),1px 0 5px rgba(27, 91, 255, 0.3),0 -1px 5px rgba(27, 91, 255, 0.3);-webkit-transition:all .2s linear;}
.custom-select { display: inline-block; position: relative; }
.custom-select select { height: 24px; width: auto; margin: 0; padding: 0 0 0 5px; outline: none; cursor: pointer; border: none; background: #e0e0e0; border-radius: 0; color: #333; -webkit-appearance: none; -moz-appearance: window; }
.custom-select select::-ms-expand { display: none; }
.custom-select select option{background:white;border-bottom:1px solid #eee;}
.custom-select:after { position: absolute; top: 10px; right: 8px; /* Styling the down arrow */ width: 0; height: 0; padding: 0; content: ''; border-left: .25em solid transparent; border-right: .25em solid transparent; border-top: .375em solid #333; border-width: 5px; pointer-events: none; }

@-moz-document url-prefix() { .custom-select select { padding-right: 1.75em; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) { .custom-select select { padding-right: 20px; } }
.slick-loading{width: 100%;height: 100%;position: absolute;top: 0;z-index: 2;}
.slick-loading .slick-head-mask{height: 100%;margin-top: 37px;background: #FFF url(../img/loading.gif) no-repeat center center;}
.pager-refresh{width:24px;height:24px;/*background: url(../img/icon.png) no-repeat -554px -1544px;*/display: inline-block;vertical-align: middle;margin: 0 10px;cursor: pointer;position:relative;}
.pager-refresh:before{content:'\e674';font-family: "icomoon";color:#9b9b9b;font-size:20px;position:absolute;top:4px;}
.pager-refresh:hover:before{/*background-position:-584px -1544px;*/color:#4FA2DA;}

.grid-canvas .active.editable { background: none; }

.slick-delete { font-style: italic; color: #999; background: #FFFAE4 !important; }

.slick-delete::after { content: " "; position: absolute; left: 0; top: 50%; width: 100%; border-bottom: 1px solid #777; }
