.purchase {
    background: $purchase-bg;
    .pic {
        height: 343px;
        .meta {
            .actions {
                font-size: 16px;
            }
        }
    }
    .content {
    	padding: 20px 30px;
    	h2 {
    		font-size: $font-size-h4;
    		font-weight: 300;
    		margin: 0 0 10px;
    	}
    	p {
    		line-height: 1.6;
    	}
    }
}
