/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
body{font:12px/14px Tahoma,"Microsoft YaHei",arial,sans-serif;color: #333;}

input[type="text"]{border:1px solid #ccc;line-height:20px;padding: 0;margin: 0;padding-left: 5px;  padding-right: 5px;}
input[type="text"]:focus,textarea:focus{outline:none;}
::-webkit-scrollbar {
width: 10px;
height:10px;
}
::-webkit-scrollbar-track {
background:none;
}
::-webkit-scrollbar-thumb {
background:#e5e5e5; url(img/scrollbarBG.png) no-repeat center center;
border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{background:#333;}
.ui-widget{border:1px solid #ddd;}
.slick-cell input[type="text"]{width: 84%;height: 86%;border:none;}
.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
  font-weight: bold;
}
.slick-row.odd{background: #F5F5F5;}
.slick-row:hover{transition: all .2s linear; background: #E7F0F7;}
.slick-cell.selected{transition: all .2s linear; background: #CDE1F1;box-shadow: 0 -1px 0 white;}

.slick-header-columns, .slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 33px;
  line-height: 33px;
  margin: 0;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
  cursor:pointer;
  border-bottom: 4px solid #ECECEC;
  text-indent:5px;
}

.slick-headerrow-column.ui-state-default {
  padding: 4px;
}

.slick-header-column-sorted {
  font-style: italic;
}

.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

.slick-sort-indicator-desc {
  background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
  background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 3px;
  right: 0px;
  top: 0;
  height: 100%;
}
.slick-header-column:hover .slick-resizable-handle{border-left: 1px solid #cfcfcf;border-right: 1px solid #CFCFCF;background: #F7F7F7;}
.slick-sortable-placeholder {
  background: silver;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

.slick-cell, .slick-headerrow-column {
  position: absolute;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  margin: 0;
  white-space: nowrap;
  cursor: default;
  line-height: 35px;
  text-indent:5px;
}

.slick-group {
}

.slick-group-toggle {
  display: inline-block;
}

.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-cell.flashing {
  border: 1px solid red !important;
}

.slick-cell.editable input:focus{
   outline: none;
   border: 1px solid rgba(39, 91, 255, 0.48);
   box-shadow: 0 0 5px rgba(27, 91, 255, 0.5);
   -webkit-transition:all .2s linear;
   z-index: 2;
   background:white;
   padding-left: 5px;
   padding-right: 5px;
}

.slick-cell:focus {
  outline: none;
}

.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}


input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .toggle:after{
  opacity: 1;
}

.toggle {
    display: block;
  height: 35px;
  width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
  cursor: pointer;
}

.toggle:after {
  content: '';
  position: absolute;
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 12px;
  left: 11px;
  border: 3px solid #363636;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}

.toggle:before {
    content: '';
    width: 13px;
    height: 13px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    position: absolute;
    top: 9px;
    left: 9px;
    -moz-box-shadow: 0 1px 1px #dfecf4;
}



.toggle:before, .toggle:active:before {
    border-color: #ccc;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
.pager{text-align:right;font-size:11px;margin: 5px 0;}
.pager-info,.pager-go,.pager-count{display:inline-block;}
.pager-info .pager-prev,.pager-info .pager-next{padding:0 5px;cursor:pointer;vertical-align: top;height: 16px;line-height: 14px;display:inline-block;background: #E0E0E0;}
.pager-go input[type="text"]{vertical-align:top;width:20px;text-align: left;font-size: 11px;line-height: 14px;height: 14px;border:1px solid #aaa;}
.pager-go button[name="pager-go"]{cursor:pointer;background:none;border:none;padding:0;margin:0;font-size:11px;vertical-align: middle;}
.pager-count button[name="record-count"]{background: #e0e0e0;border: none;padding:0 5px;cursor:pointer;font-size:11px;margin: 0;height: 16px;}
.pager-count{margin-left:20px;}
.pager-info .pager-prev:hover,.pager-info .pager-next:hover,.pager-count button[name="record-count"]:hover{background:#333;color: #fff;}

.custom-select {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* Styling the select background */
  background-color: #66d2f3;
}
.custom-select select {
  width: auto;
  margin: 0;
  padding: .75em 1.5em;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  /* Styling the select text color */
  color: rgba(255, 255, 255, 0.6);
  /* removes the fucking native down arrow */
  -webkit-appearance: none;
  -moz-appearance: window;
}
.custom-select select::-ms-expand {
  display: none;
}
.custom-select:after {
  position: absolute;
  top: 1.25em;
  right: 1em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid #1FBDED;
  pointer-events: none;
}

@-moz-document url-prefix() {
  .custom-select select {
    padding-right: 1.75em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select select {
    padding-right: 2em;
  }
}
