
<link rel="stylesheet" href="/css/pages/dropdown.css" type="text/css" media="screen" charset="utf-8">

<ul id="peek">
	<li data-anchor="simple" class="item active">Simple</li>
	<li data-anchor="advance" class="item">Advance</li>
	<li data-anchor="api" class="item">API</li>
</ul>

<section id="dropdown">
	
	<header data-anchor="simple">Simple</header>

	<section>
		<div class="wrap">
		<div class="ui dropdown" name="normal">
			<div class="title">
				<p></p>
				<i class="icon arrow down"></i>
			</div>
			<div class="content">
			</div>
		</div>
		</div>

		<div class="wrap">
		<div class="ui dropdown" name="hover">
			<div class="title">
				<p></p>
				<i class="icon arrow down"></i>
			</div>
			<div class="content">
			</div>
		</div>
		</div>
	</section>

	<br>
	<br>

	<header data-anchor="advance">Advance</header>

	<section>
		<div class="wrap">
		<div class="ui dropdown" name="multiple">
			<div class="title">
				<p></p>
				<i class="icon arrow down"></i>
			</div>
			<div class="content">
			</div>
		</div>
		</div>

		<div class="wrap">
		<div class="ui dropdown" name="format">
			<div class="title">
				<p></p>
				<i class="icon arrow down"></i>
			</div>
			<div class="content">
			</div>
		</div>
		</div>
	</section>

	<br>
	<br>

	<header data-anchor="api">API</header>

	<section>
		<pre>
		<xmp class="html">

		<div class="ui dropdown">
			<div class="title">
				<p></p>
				<i class="icon arrow down"></i>
			</div>
			<div class="content">
			</div>
		</div>

		</xmp>
		</pre>
	</section>
</section>

<script type="text/javascript" charset="utf-8">
require( [ "views/dropdown" ], function( page ) {
	page( $( "#dropdown" ) );
} );
</script>
