
<link rel="stylesheet" href="/css/pages/editor.css" type="text/css" media="screen" charset="utf-8">

<section id="editor">
	
	<header>
		<h1>A Vim Configuration</h1>

		<button class="ui button transition coral">
			<i class="icon github"></i>
			Get It On Github
		</button>
	</header>

	<img src="/images/editor2.png" />

	<p>The color scheme and font used in the screenshot are: <a href="https://github.com/trazyn/Powerline-font">Pragmata For Powerline</a> and <a href="https://github.com/tomasr/molokai">molokai</a>.</p>
</section>

<script type="text/javascript" charset="utf-8">
	
	$( "#editor .ui.button" )
	.on( "click", function() {
		
		window.open( "//github.com/trazyn/.vim", "_blank" );
	} );
</script>
