
<link rel="stylesheet" href="/css/pages/home.css" type="text/css" media="screen" charset="utf-8">

<ul id="home" class="pages">
	<li class="page show transition background" name="home">

	<div class="wrap">
		<div id="logo" class="transition fade out slide">
			neoscm.js
		</div>
		<p id="intro" class="transition fade out">
		We build simple, easy to use website.
		</p>

		<div id="social">

			<a href="#" class="transition animate slide left" data-palette="twitter">
				<i class="icon twitter"></i>
			</a>

			<a href="#" class="transition animate slide right" data-palette="github">
				<i class="icon github2"></i>
			</a>

			<a href="#" class="transition animate slide left" data-palette="mail">
				<i class="icon mail"></i>
			</a>            
		</div>

		<div id="avatars" class="transition slide"></div>

	</div>
	<div id="action">
		<button name="joinUs" class="ui button outline coral transition">Join Us</button>
		<button name="demo" class="ui button outline coral transition">Demo</button>
	</div>
	<a id="next" class="transition animate more"><i class="icon arrow down transition"></i></a>
	</li>

	<li class="page background night" name="clock">
	<h1 class="release">Next Release Countdown</h1>

	<div id="clock">

	</div>

	<button name="history" class="ui button primary transition">View The History</button>

	<a id="prev" class="transition animate more"><i class="icon arrow up transition"></i></a>
	</li>
</ul>

<script type="text/javascript" charset="utf-8">
	require( [ "views/home" ], function( page ) {
		page( $( "#home" ) );	
	} );
</script>

