
<div id="menu">
	<div class="logo">
		<p class="transition pulse">neoscm.js<p>
	</div>

	<div class="item transition" data-url="wiki">
		Home
	</div>

	<div class="item transition" data-url="getstarted">
		Get Started
	</div>

	<p class="item transition">UI</p>

	<ul>
		<li data-url="color">Color</li>
		<li data-url="icon">Icon</li>
		<li data-url="button">Button</li>
		<li data-url="switcher">Switcher</li>
		<li data-url="text">Text</li>
		<li data-url="slider">Slider</li>
		<li data-url="modal">Modal</li>
		<li data-url="calendar">Calendar</li>
		<li data-url="messages">Messages</li>
		<li data-url="tooltip">Tooltip</li>
		<li data-url="dropdown">Dropdown</li>
		<li data-url="progress">Progress</li>
		<li data-url="ripple">Ripple</li>
		<li data-url="autocomplete">Auto Complete</li>
		<li data-url="w3user">W3 User Choice</li>
		<li data-url="tree">Tree</li>
		<li data-url="tab">Tab</li>
		<li data-url="dialog">Dialog</li>
		<li data-url="loader">Loader</li>
		<li data-url="rate">Rate</li>
		<li data-url="datagrid">Data Grid</li>
		<li data-url="chart">Chart</li>
	</ul>

	<p class="item">Util</p>
	<ul>
		<li data-url="permission">Permission</li>
		<li data-url="dateutil">Date Util</li>
		<li data-url="storage">Storage</li>
		<li data-url="validation">Validation</li>
		<li data-url="template">Template</li>
		<li data-url="render">Render</li>
		<li data-url="poll">Poll</li>
	</ul>
</div>
