
<link rel="stylesheet" href="/css/pages/modal.css" type="text/css" media="screen" charset="utf-8">

<section id="modal">
	
	<header>
		<h1>Amodal.js</h1>
		Hope you like it~
	</header>

	<div class="wrap">
		<p>
		<button name="slide" class="ui raised button transition coral">SLIDE</button>
		<button name="stick" class="ui raised button transition coral">STICK</button>
		<button name="bottom" class="ui raised button transition coral">BOTTOM</button>
		</p>

		<p>
		<button name="flip" class="ui raised button transition coral">FLIP</button>
		<button name="vertical" class="ui raised button transition coral">VERTICAL</button>
		<button name="sign" class="ui raised button transition coral">SIGN</button>
		</p>
	</div>

	<a class="signal"></a>
	<a class="hamburger">
		<span class="line line-1"></span>
		<span class="line line-2"></span>
		<span class="line line-3"></span>
	</a>

	<section>
		<button name="viewCode">
			View The Code
		</button>
	</section>
</section>

<script type="text/javascript" charset="utf-8">
	require( [ "views/modal" ], function( page ) { 
		page( $( "#modal" ) );		
	} );
</script>
