
<link rel="stylesheet" href="/css/pages/switcher.css" type="text/css" media="screen" charset="utf-8">

<ul id="peek">
	<li data-anchor="example" class="item active">Example</li>
	<li data-anchor="html" class="item">HTML</li>
</ul>

<section id="switcher">
	
	<header data-anchor="example">Example</header>

	<section>
		<div class="wrap">
			<div class="demo">
			<p>
			<label class="ui switch">
				<input type="checkbox" checked />
			</label>
			</p>
			<p>
			<label class="ui switch">
				<input type="checkbox" checked />
			</label>
			</p>
			</div>

			<div class="demo">
			<p>
			<label class="ui checkbox">
				<input type="checkbox" checked />
			</label>
			</p>
			<p>
			<label class="ui checkbox">
				<input type="checkbox" checked />
			</label>
			</p>
			</div>

			<div class="demo">
			<p>
			<input name="radio" class="ui radio" type="radio" checked />
			</p>
			<p>
			<input name="radio" class="ui radio" type="radio" />
			</p>
			</div>
		</div>
	</section>

	<br>
	<br>

	<header data-anchor="html">Html</header>

	<section>
		<pre>
		<xmp class="html">

		<label class="ui switch">
			<input type="checkbox" checked />
		</label>
		<label class="ui checkbox">
			<input type="checkbox" checked />
		</label>

		<input name="radio" class="ui radio" type="radio" checked />

		</xmp>
		</pre>
	</section>
</section>

<script type="text/javascript" charset="utf-8">
require( [ "ui/Peek" ], function() {
	$( document.body ).peek();
} );
</script>
