<div id="brand" class="center">
    <div id="logo">
        <p>neoscm.js</p>
        <p>neoscm.js</p>
    </div>
    <small>
		Keep It Simple, Stupid
	</small>
    <div id="intro">
        <h3>A CSS Framework and a Set of Javascript Components</h3>
        <h3>that made with love</h3>
    </div>
    <div>
        <button name="wiki" class="ui button transition outline coral">WIKI</button>
        <button name="github" class="ui button transition outline coral">GITHUB</button>
    </div>
</div>

<div id="demo" class="grid">
    <div class="three wide column">
        <div class="feature">
            <i class="icon device"></i>
            <p>响应式设计</p>
            <p>从大屏到小屏, 实现所有屏幕的适配(TODO)</p>
        </div>

        <div class="feature">
            <i class="icon restaurant"></i>
            <p>丰富的组件, 模块化</p>
            <p>全量覆盖现在有项目组件, 可快速构建界面, 大幅提高开发效率 良好的代码结构, 各组件无强制依赖, 易于维护扩展, 样式由 LESS 语言编写, 可读性好, 易于维护</p>
        </div>

        <div class="feature">
            <i class="icon trending"></i>
            <p>轻量级, 高性能</p>
            <p>面向 HTML5 开发, 使用 CSS3 做动画交互, 平滑高效, 如丝般顺滑 站在巨人的肩膀上, 引入 jQuery, requirejs 作为基础依赖, 轻量高性能</p>
        </div>

        <div class="feature">
            <i class="icon code"></i>
            <p>开源, 完整文档支持</p>
            <p>组件部分完整样例及详细的文档参考, 代码托管至 Github, 任何人都能参与进来</p>
        </div>
    </div>

    <div class="mate">
		References
		参考和使用的: <a href="semantic-ui">semantic-ui</a>, <a href="http://material-ui.com/">material-ui</a>, <a href="http://www.google.com/design/spec/material-design/introduction.html">Google Material Design</a>, <a href="//www.dribbble.com">Dribbble</a>, <a href="http://amazeui.org/">amazeui</a>, <a href="//www.jquery.com">jQuery</a>, <a href="//www.requirejs.com">requirejs</a>, <a href="http://getbootstrap.com/">bootstrap</a>

		Credits
		我们追求卓越，然时间,精力,能力有限. 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议.
    </div>
</div>

<div id="checkout" class="center">
    <h3>Want to help make this project awesome? Check out our repo.</h3>

    <button name="checkout" class="ui button transition coral">Fork Me</button>
</div>
