<section id="nav">
	<a class="hamburger">
		<span class="line line-1"></span>
		<span class="line line-2"></span>
		<span class="line line-3"></span>
	</a>
	<i class="icon github2"></i>
</section>

<section id="canvas">
	<div id="brand" class="center">
		<div id="logo">
			<p>neoscm.js</p>
			<p>neoscm.js</p>
		</div>
		<small>
			Keep It Simple, Stupid
		</small>
		<div id="intro">
			<h3>A CSS Framework and a Set of Javascript Components</h3>
			<h3>that implement(ing...) Google's Maerial Design</h3>
		</div>
		<div>
			<button name="wiki" class="ui button transition outline coral">WIKI</button>
			<button name="github" class="ui button transition outline coral">GITHUB</button>
		</div>
	</div>



	<div id="demo" class="grid">
		<div class="three wide column">
			<div class="example-1" style="height: 300px;">

			</div>
			<div class="example-2" style="height: 200px;">

			</div>
			<div class="example-3" style="height: 300px;">

			</div>
		</div>

		<div class="three wide column">
			<div class="example-4" style="height: 400px;">
			</div>
			<div class="example-5" style="height: 420px;">

			</div>
		</div>

		<div class="three wide column">
			<div class="example-6" style="height: 300px;">

			</div>
			<div class="example-7" style="height: 500px;">

			</div>
		</div>
	</div>

	<div id="checkout" class="center">
		<h3>Want to help make this project awesome? Check out our repo.</h3>

		<button name="checkout" class="ui button transition coral">Fork Me</button>
	</div>
</section>

<section id="footer">
	<p>
	Inspiration from <a>Semantic UI</a>
	</p>
	<a class="left icon github3"></a>
</section>

<script type="text/javascript" charset="utf-8">
	require( [ "views/wiki" ], function( wiki ) { 
		wiki();		
	} );
</script>
