$bg: #f2f2f2;
$google-bg: #039be5;
$profile-bg: #3949ab;
$weather-bg: #4db6ac;
$audio-bg: #d01a25;
$video-bg: #ec592f;
$article-bg: #673ab7;
$calendar-bg: #66bb6a;
$graph-bg: #d81b60;
$purchase-bg: #20211f;

$main-font: Roboto, Helvetica, Arial, sans-serif;

$font-size-h1: 100px;
$font-size-h2: 72px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-p: 12px;

$full-width: 980px;
$margin: 40px;

$transition: 0.4s;